<form action="https://formspree.io/myjryjzx" method="POST" >
	<input type="hidden" name="Page Feedback">
	  <input type="text" name="_gotcha" style="display: none"> 
	<div class="CForms">
		<fieldset style="margin-bottom:10px;">
			<legend>Was this helpful?</legend>
			<input id="Yes" type="radio" name="Was this helpful?" value="Yes">
			<label for="Yes">Yes</label><br>
			<input id="No" type="radio" name="Was this helpful?" value="No">
			<label for="No" class="spaced">No</label><br>
			<label for="feedback">Feedback (optional)</label>
			<textarea  name="Feedback (optional)" class="form-control spaced" id="feedback" rows="3" maxlength="220"/>
		</fieldset>
	</div>
</form>
