<form action="https://formspree.io/myjryjzx" method="POST" >
	<input type="hidden" name="Page Feedback">
	  <input type="text" name="_gotcha" style="display: none"> 
	<div class="CForms">
		<fieldset style="margin-bottom:10px;">
			<legend>Was this helpful?</legend>
			<input id="Yes" type="radio" name="Was this helpful?" value="Yes">
			<label for="Yes">Yes &#9786;</label>
			<input id="No" type="radio" name="Was this helpful?" value="No">
			<label for="No" class="spaced">No &#9785;</label>
			<label for="feedback">Feedback (optional)</label>
			<textarea  name="Feedback (optional)" class="form-control spaced" id="feedback" rows="2" maxlength="220"></textarea>
		</fieldset>
		<input type="submit" value="Submit" class="btn-lg"/>
	</div>
</form>
