<!-- footer section -->

<div id="footer-wrapper">
    <a class="footer-scroll-top">
        <i class="icon icon-back-to-top"></i>
    </a>
    <div id="footer" class="no-print">
        <div class="container boxed">
            <div class="top-part">
                <div class="row">
                    <div class="social">
                        <div>
                            <ul class="left">
                                <li class="facebook">
                                    <a href="https://www.facebook.com/MeridianIdaho" target="_blank">
                                        <img src="{{site.baseurl}}/assets/img/facebook-4-72.png" alt="Connect through Facebook"/>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/MeridianIdaho" target="_blank">
                                        <img src="{{site.baseurl}}/assets/img/twitter-4-72.png" alt="Connect through Twitter" />
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/meridianidaho/ " target="_blank">
                                        <img src="{{site.baseurl}}/assets/img/instagram-4-72.png" alt="Connect through Instagram"/>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/channel/UCcQl8wZRqYIfxccWrUJBewg" target="_blank">
                                        <img src="{{site.baseurl}}/assets/img/youtube-9-72.png" alt="Connect through Youtube"/>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/company/city-of-meridian" target="_blank">
                                        <img src="{{site.baseurl}}/assets/img/linkedin-4-72.png" alt="Connect through LinkedIn"/>
                                    </a>
                                </li>
                                <li class="nextdoor">
                                    <a href="https://nextdoor.com/agency-detail/id/meridian/meridian-mayors-office/" target="_blank">
                                        <img id="nextdoor" src="{{site.baseurl}}/assets/img/nextdoor-6-48.png" alt="Connect through Nextdoor"/>
                                    </a>
                                </li>
                                <li class="subsc">
                                    <a href="https://www.meridiancity.org/mayor/newsletter.html" target="_blank">
                                        <img src="{{site.baseurl}}/assets/img/email-10-72.png" alt="Subscribe to email updates"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom-part">
                <div class="row">
                    <div class="right col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <a href="/index.html">
                            <img width="162" height="48" src="{{site.baseurl}}/assets/img/footer-logo.png" class="left" />
                        </a>
                    </div>
                <div class="left col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <ul class="left">
                        <li>
                            <a href="/index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/government/want.html">
                                I Want To...
                            </a>
                        </li>
                        <li>
                            <a href="/government/contact.html">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="/accessibility">Accessibility</a>
                        </li>
                        <li>
                            <a href="/government/covid-19" style="background-color: #C70000; color: #fff; padding: 5.5px; font-weight: bold;">COVID-19 Updates</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-socket">
        <div class="container boxed">
            <div class="row">
                <div class="col-xs-12">
                    <div class="left">
                        <label>© Copyright <span id="copyrightYear"></span>, Meridian, Idaho.
                        All Rights Reserved. <a href="/government/privacy.html">Privacy Statement</a>&nbsp;&nbsp;<a href="/WebsiteTermsOfUse.pdf">Terms of Use</a></label>
                    </div>
                    <div class="right">
                        <a href="https://www.google.rs/maps/place/33+E+Broadway+Ave,+Meridian,+ID+83642,+USA/@43.6096586,-116.3930485,17z/data=!3m1!4b1!4m2!3m1!1s0x54ae53eebf1da993:0xa776b59a83317ee1?hl=en" target="_blank">
                            33 E. Broadway Ave., Meridian, Idaho 83642
                            <label>View on Map</label>
                        </a>  <span>|</span>
                        <label>Phone: 208.888.4433</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>var date = new Date().getFullYear(); document.getElementById("copyrightYear").innerHTML = date;</script>
