<!-- footer section -->

<div id="footer-wrapper">
    <a class="footer-scroll-top">
        <i class="icon icon-back-to-top"></i>
    </a>
    <div id="footer" class="no-print">
        <div class="container boxed">
            <div class="top-part">
                <div class="row">
                    <div class="right col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <form class="right" method="get" id="searchform" action="/search.aspx">
                            <div>
                                <script type="text/javascript">
                                    (function () {
                                        var cx = '002712329368440997795:msgqgmcx_ge';
                                        var gcse = document.createElement('script');
                                        gcse.type = 'text/javascript';
                                        gcse.async = true;
                                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                        '//www.google.com/cse/cse.js?cx=' + cx;
                                        var s = document.getElementsByTagName('script')[0];
                                        s.parentNode.insertBefore(gcse, s);
                                    })();
                                </script>
                                <input type="text" placeholder="Search Meridian" class="form-control" value="" name="q" id="search" />
                                <button type="submit" class="button search-icon" id="searchsubmit">
                                    <i class="icon icon-search-icon"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="social col-lg-7 col-md-7 col-sm-12 col-xs-12">
                        <div>
                            <!--<p class="left">
                                Connect with

                                <span>Meridian</span>
                            </p>-->
                            <ul class="left">
                                <li class="facebook">
                                    <a href="https://www.facebook.com/MeridianCity" target="_blank">
                                        <img src="{{base}}/assets/img/facebook-4-72.png" alt="Connect through Facebook"/>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="https://twitter.com/MeridianIdaho" target="_blank">
                                        <img src="{{base}}/assets/img/twitter-4-72.png" alt="Connect through Twitter" />
                                    </a>
                                </li>
                                <li class="instagram">
                                    <a href="https://www.instagram.com/meridianidaho/ " target="_blank">
                                        <img src="{{base}}/assets/img/instagram-4-72.png" alt="Connect through Instagram"/>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="https://www.youtube.com/channel/UCcQl8wZRqYIfxccWrUJBewg" target="_blank">
                                        <img src="{{base}}/assets/img/youtube-9-72.png" alt="Connect through Youtube"/>
                                    </a>
                                </li>
                                <li class="linkedin">
                                    <a href="https://www.linkedin.com/company/city-of-meridian" target="_blank">
                                        <img src="{{base}}/assets/img/linkedin-4-72.png" alt="Connect through LinkedIn"/>
                                    </a>
                                </li>
                                <li class="nextdoor">
                                    <a href="https://nextdoor.com/" target="_blank">
                                        <img id="nextdoor" src="{{base}}/assets/img/nextdoor-6-48.png" alt="Connect through Nextdoor"/>
                                    </a>
                                </li>
                                <li class="rss">
                                    <a href="main_rss_titles.aspx" target="_blank">
                                        <img src="{{base}}/assets/img/rss-4-72.png" alt="Subscribe to RSS feed" />
                                    </a>
                                </li>
                                <li class="subsc">
                                    <a href="http://eepurl.com/QRLR5" target="_blank">
                                        <img src="{{base}}/assets/img/email-10-72.png" alt="Subscribe to email updates"/>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="bottom-part">
                <div class="row">
                    <div class="right col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <a href="/main.aspx">
                            <img width="162" height="48" src="{{base}}/assets/img/footer-logo.png" class="left" />
                        </a>
                    </div>
                <div class="left col-lg-10 col-md-10 col-sm-10 col-xs-12">
                    <ul class="left">
                        <li>
                            <a href="/main.aspx">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/sitemap.aspx">
                                Site Map
                            </a>
                        </li>
                        <li>
                            <a href="/local_government.aspx?id=12973">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-socket">
        <div class="container boxed">
            <div class="row">
                <div class="col-xs-12">
                    <div class="left">
                        © Copyright 2017, Meridian, Idaho.
                        <label>All Rights Reserved. <a href="/local_government.aspx?id=1310">Privacy Statement</a></label>
                    </div>
                    <div class="right">
                        <a href="https://www.google.rs/maps/place/33+E+Broadway+Ave,+Meridian,+ID+83642,+USA/@43.6096586,-116.3930485,17z/data=!3m1!4b1!4m2!3m1!1s0x54ae53eebf1da993:0xa776b59a83317ee1?hl=en" target="_blank">
                            33 E. Broadway Ave., Meridian, Idaho 83642
                            <label>View on Map</label>
                        </a>  <span>|</span>
                        <label>Phone: 208.888.4433</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
