
            <!-- jquery load content DISABLED -->
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pull-left">
						Official Website of the City of Meridian
						</div>
						<div class="pull-right no-print">
							<div class="language-selector pull-left">
								<div id="google_translate_element"></div>
							</div>
							<div class="social-wrapper">
								<ul>
									<li class="facebook">
										<a href="https://www.facebook.com/MeridianIdaho" target="_blank">
											<i class="icon icon-facebook"></i>
										</a>
									</li>
									<li class="twitter">
										<a href="https://twitter.com/MeridianIdaho" target="_blank">
											<i class="icon icon-twitter"></i>
										</a>
									</li>

                                    <li class="instagram">
                                    <a href="https://www.instagram.com/meridianidaho" target="_blank">
                                    <img src="https://meridiancity.org/mcity-theme/assets/images/instagram_16x16.png" alt="InstaGram Site" title="InstaGram Site" />
                                   </a>
                                   </li>

									<li class="youtube">
										<a href="https://www.youtube.com/channel/UCcQl8wZRqYIfxccWrUJBewg" target="_blank">
											<i class="icon icon-youtube-play"></i>
										</a>
									</li>
									<li class="linkedin">
										<a href="https://www.linkedin.com/company/city-of-meridian" target="_blank">
											<i class="icon icon-linkedin"></i>
										</a>
									</li>
									<li class="nextdoor">
										<a href="https://nextdoor.com/agency-detail/id/meridian/meridian-mayors-office/" target="_blank">
											<i class="icon icon-nextdoor"></i>
										</a>
									</li>
                                 
                                    <li class="subsc">
                                    <a href="https://www.meridiancity.org/mayor/newsletter.html" target="_blank">
                                    <img src="https://meridiancity.org/mcity-theme/assets/images/envelope_16X16.png" alt="Subscribe To Us!" title="Subscribe To Us!" />
                                   </a>
                                  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
									<a class="btn btn-danger" style="margin-top: 80px; height: 2em;color: rgb(255, 255, 255);font-size: 1.8em;position: relative;background-color: #C70000;border-radius: 0px;" href="/government/covid-19">COVID-19 UPDATES</a>
			</div>
		</div>

