<h2 class="toggle-title" data-toggle="collapse" href="#sidebar-nav-1" aria-expanded="false" aria-controls="sidebar-nav-1">Local Government</h2>
 
 <ul id="sidebar-nav-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sidebar-nav-1">
    <li href="/local_government.aspx?id=5584"><a href="/local_government.aspx?id=5584">Mission, Vision, Values</a></li>
    <li href="http://www.sterlingcodifiers.com/codebook/index.php?book_id=306"><a target="_new" href="http://www.sterlingcodifiers.com/codebook/index.php?book_id=306">City Code</a></li>
    <li href="/council/"><a href="/council/">City Council</a></li>
    <li><a data-toggle="collapse" aria-expanded="true" href="#393" aria-controls="393" class="expanded">City Commissions &amp; Committees</a>
    	<div class="panel-collapse collapse submenu" role="tabpanel" id="393" aria-labelledby="393">
	    	<ul class="show">
		    	<li><a href="/local_government.aspx?id=21362">Commission Home</a></li>
		    	<li><a href="/city_clerk.aspx?id=17134">Historic Preservation Commission</a></li>
		    	<li><a href="/city_clerk.aspx?id=17799">Impact Fee Advisory Committee</a></li>
		    	<li><a href="/mac/">Meridian Arts Commission</a></li>
		    	<li><a href="/city_clerk.aspx?id=17156">Parks and Recreation Commission</a></li>
		    	<li><a href="/city_clerk.aspx?id=17160">Planning &amp; Zoning Commission</a></li>
		    	<li><a href="/city_clerk.aspx?id=17159">Solid Waste Advisory Commission</a></li>
		    	<li><a href="/city_clerk.aspx?id=14651">Transportation Commission</a></li>
	    	</ul>
	    </div>
	</li>
	<li href="/city_departments.aspx?id=92"><a href="/city_departments.aspx?id=92">City Departments</a></li>
	<li href="/local_government.aspx?id=397"><a href="/local_government.aspx?id=397">Other Government</a></li>
 </ul>

