<div class="menu-header no-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo-wrapper">
          <a href="https://meridiancity.org/" class="logo newpage">
            <img width="162" height="48" src="https://meridiancity.org/mcity-theme/assets/img/logo@2x.png" alt="City of Meridian Logo" /></a>
          </div>
          <div class="navigation-wrapper">
            <div class="navigation-content">
              <ul id="top-navigation" class="navigation" role="tablist" aria-multiselectable="true">
                <li class="last-child">
                  <!-- <a href="https://meridianpay.billingdoc.net" target="_blank" class="external"> -->
                  <a href="https://utilitybillingportal.meridiancity.org/truecip" target="_blank" class="external">
                    <div class="max-width-114">Pay Utility Bill</div>
                  </a>
                </li>
                <li>
                  <!-- PASTE HEADER NAV FROM HERE DOWN -->
                  <a data-toggle="collapse" data-parent="#top-navigation" href="#residentsSubmenu" aria-expanded="true" aria-controls="residentsSubmenu">
                    <div class="max-width-80">Residents</div><span class="bottom-line"></span>
                  </a>
                  <div id="residentsSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="residentsSubmenu">
                    <div class="container" style="height: 240px">
                     <ul>
                      <li class="col-md-3">
                       <a class="parent-link" href="https://meridiancity.org/government/guide-for-residents"><i class="icon icon-guide-icon"></i>Guide for Residents</a>
                       <label>
                         <a class="child-link" href="https://meridiancity.org/government/covid-19" style="color: #C70000">COVID-19 UPDATES</a><br/>
                         <a class="child-link" href="https://meridiancity.org/government/air">Air Quality</a><br />
                         <a class="child-link" href="https://meridiancity.org/clerk/dog-licenses">Dog Licensing</a><br />
                         <a class="child-link" href="https://apps.meridiancity.org/jobs/" target="_blank">Jobs</a><br />
                         <a class="child-link" href="https://meridiancity.org/clerk/passports">Passports</a><br />
                         <a class="child-link" href="https://meridiancity.org/mayor/msab">Senior Services</a><br />
                         <a class="child-link" href="https://meridiancity.org/myac/">Youth Services</a>
                       </label>
                     </li>
                     <li class="col-md-3">
                       <a class="parent-link" href="https://meridiancity.org/government/safety"><i class="icon icon-emergency-icon"></i>Public Safety</a>
                       <label>
                        <a class="child-link" href="https://meridiancity.org/police/community-services/code-enforcement">Code Enforcement</a><br />
                        <a class="child-link" href="https://meridiancity.org/government/emergency">Emergency Preparedness</a><br />
                        <a class="child-link" href="https://meridiancity.org/fire/">Fire</a><br />
                        <a class="child-link" href="https://meridiancity.org/police/">Police</a><br />
                      </label>
                    </li>
                    <li class="col-md-3">
                     <a class="parent-link" href="https://meridiancity.org/planning/transportation/"><i class="icon icon-transport-icon"></i>Transportation</a>
                     <label><a class="child-link" href="https://meridiancity.org/Pathways/">Pathways</a><br />
                       <a class="child-link" href="https://meridiancity.org/planning/transportation/transit">Public Transportation</a>
                     </label>
                   </li>
                   <li class="col-md-3">
                     <a class="parent-link" href="https://meridiancity.org/utility-billing/"><i class="icon icon-utility-services-icon"></i>Utility Services</a>
                     <label>
                       <a class="child-link" href="https://meridiancity.org/environmental/trashtalk" target="_blank">Trash &amp; Recycling</a><br />
                       <a class="child-link" href="https://meridiancity.org/utility-billing/">Utility Billing</a><br/>
                       <a class="child-link" href="https://meridiancity.org/public-works/">Water/Sewer</a>
                     </label>
                   </li>
                 </ul>
                 <div class="clear"></div>
               </div>
             </div>
           </li>
           <li>
             <a data-toggle="collapse" data-parent="#top-navigation" href="#businessSubmenu" aria-expanded="true" aria-controls="businessSubmenu">
              <div class="max-width-72">Business</div><span class="bottom-line"></span>
            </a>
            <div id="businessSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="businessSubmenu">
              <div class="container" style="height: 240px">
               <ul>
                <li class="col-md-3">
                 <a class="parent-link" href="https://meridiancity.org/economic-development/"><i class="icon icon-overview"></i>Overview</a>
                 <label>
                  <a class="child-link" href="https://meridiancity.org/government/covid-19" style="color: #C70000">COVID-19 UPDATES</a><br/>
                  <a class="child-link" href="https://meridiancity.org/citycode" target="_blank">City Code</a><br />
                  <a class="child-link" href="https://meridiancity.org/planning/compplan">Comprehensive Plan</a><br />
                  <a class="child-link" href="https://business.idaho.gov/faq/frequently-asked-questions/starting-a-business/" target="_blank">Starting a Business</a>
                </label>
              </li>
              <li class="col-md-3">
               <a class="parent-link" href="https://meridiancity.org/community-development/"><i class="icon icon-economic-development"></i>Development</a>
               <label>
                <a class="child-link" href="https://meridiancity.org/building/">Building</a><br />
                <a class="child-link" href="https://meridiancity.org/cdbg/">Grants</a><br />
                <a class="child-link" href="https://meridiancity.org/planning/current/architectural-standards">Design Review</a><br />
                <a class="child-link" href="https://meridiancity.org/economic-development/">Economic Development</a><br />
                <a class="child-link" href="https://meridiancity.org/land/">Land</a><br />
                <a class="child-link" href="https://meridiancity.org/planning/">Planning</a>
              </label>
            </li>
            <li class="col-md-3">
             <a class="parent-link" href="https://meridiancity.org/clerk/temporary-use"><i class="icon icon-licenses"></i>Licenses and Permits</a>
             <label></label>
           </li>
           <li class="col-md-3">
             <a class="parent-link" href="https://meridiancity.org/community-development/partners"><i class="icon icon-partner-agencies"></i>Partner Agencies</a>
             <label></label>
           </li>
         </ul>
       </div>
     </div>
   </li>
   <li>
     <a data-toggle="collapse" data-parent="#top-navigation" href="#cityGovernmentSubmenu" aria-expanded="true" aria-controls="cityGovernmentSubmenu">
      <div class="max-width-136">City Government</div><span class="bottom-line"></span>
    </a>
    <div id="cityGovernmentSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="cityGovernmentSubmenu">
      <div class="container" style="height: 250px">
       <ul>
        <li class="col-md-3">
         <a class="parent-link" href="https://meridiancity.org/government/"><i class="icon icon-city-hall"></i>Government</a>
         <label>
          <a class="child-link" href="https://meridiancity.org/government/covid-19" style="color: #C70000">COVID-19 UPDATES</a><br/>
          <a class="child-link" href="https://meridiancity.org/council/">City Council</a><br />
          <a class="child-link" href="https://meridiancity.org/government/commissions">Commissions and Committees</a><br />
          <a class="child-link" href="https://meridiancity.org/citycode" target="_blank">City Code</a><br />
          <a class="child-link" href="https://apps.meridiancity.org/jobs/">Jobs</a><br />
          <a class="child-link" href="https://meridiancity.org/mayor/">Mayor</a><br />
          <a class="child-link" href="https://meridiancity.org/parks/volunteer">Volunteer Opportunities</a>
        </label>
      </li>
      <li class="col-md-3">
       <a class="parent-link" href="https://meridiancity.org/government/cityhall"><i class="icon icon-city-hall"></i>City Hall</a>
       <label>
        <a class="child-link" href="https://meridiancity.org/history/cityhalltour">City Hall Tours</a><br />
        <a class="child-link" href="https://meridiancity.org/history/walkingtour">Historic Walking Tour</a><br />
        <a class="child-link" href="https://meridiancity.org/mac/macmenu/initial-point">Initial Point Gallery</a><br />
        <a class="child-link" href="https://meridiancity.org/history/historycenter">Meridian History Center</a><br />
        <a class="child-link" href="https://meridiancity.org/parks/currentparks/cityhallplaza">Plaza</a><br />
        <a class="child-link" href="https://meridiancity.org/clerk/room-reservations">Room Reservation</a>
      </label>
    </li>
    <li class="col-md-5">
      <a class="parent-link" href="https://meridiancity.org/government/departments"><i class="icon icon-departments"></i>Departments and Divisions</a>
      <div style="float: left; padding-right: 13px">
        <label>
        <a class="child-link" href="https://meridiancity.org/attorney/">City Attorney</a><br />
          <a class="child-link" href="https://meridiancity.org/clerk/">City Clerk</a><br />
          <a class="child-link" href="https://meridiancity.org/community-development/">Community Development</a><br />
          <a class="child-link" href="https://meridiancity.org/environmental/">Environmental</a><br />
          <a class="child-link" href="https://meridiancity.org/finance/">Finance</a><br />
          <a class="child-link" href="https://meridiancity.org/fire/">Fire</a><br />
          <a class="child-link" href="https://meridiancity.org/hr/">Human Resources</a><br />
          <a class="child-link" href="https://meridiancity.org/it/">Information Technology</a> 
        </label>
      </div>
      <div style="float: left">
        <label>
          <a class="child-link" href="https://meridiancity.org/mayor/">Mayor’s Office</a><br /> 
          <a class="child-link" href="https://meridiancity.org/parks/">Parks & Recreation</a><br />
          <a class="child-link" href="https://meridiancity.org/police/">Police</a><br />
          <a class="child-link" href="https://meridiancity.org/finance/procurement/">Procurement</a><br />
          <a class="child-link" href="https://meridiancity.org/utility-billing/">Utility Billing</a><br/>
          <a class="child-link" href="https://meridiancity.org/environmental/trashtalk">Trash &amp; Recycling</a><br/>
          <a class="child-link" href="https://meridiancity.org/public-works/">Water &amp; Sewer</a>
        </label>
      </div>
    </li>
  </ul>
</div>
</div>
</li>
<li>
 <a data-toggle="collapse" data-parent="#top-navigation" href="#stayInformedSubmenu" aria-expanded="true" aria-controls="stayInformedSubmenu">
  <div class="max-width-114">Stay Informed</div><span class="bottom-line"></span>
</a>
<div id="stayInformedSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="stayInformedSubmenu">
  <div class="container" style="height: 240px">
   <ul>
    <li class="col-md-3">
      <a class="parent-link" href="https://meridiancity.org/government/citizen-access"><i class="icon icon-news-and-events"></i>Citizen Access</a>
      <label>
        <a class="child-link" href="https://citizenportal.meridiancity.org/CitizenAccess/" target="_blank">Citizen Access Portal</a><br />
        <a class="child-link" href="https://meridiancity.org/PRR/" target="_blank">Public Records</a><br />
        <a class="child-link" href="https://meridiancity.org/phnotices" target="_blank">Public Hearings</a><br />
        <a class="child-link" href="https://meridiancity.org/clerk/land-use">Public Applications</a><br/>
        <a class="child-link" href="https://meridiancity.org/mayor/annualreport">Annual Report</a>
      </label>
    </li>
    <li class="col-md-3">
     <a class="parent-link" href="https://meridiancity.org/news"><i class="icon icon-designed-for-living"></i>City News and Meetings</a>
     <label>
      <a class="child-link" href="https://meridiancity.org/government/covid-19" style="color: #C70000">COVID-19 UPDATES</a><br/>
      <a class="child-link" href="https://meridiancity.org/mayor/mayorsoffice/blog">City Blog</a><br />
      <a class="child-link" href="https://meridiancity.org/newsletters">Newsletters</a><br />
      <a class="child-link" href="https://meridiancity.org/news-releases">News Releases</a><br />
      <a class="child-link" href="https://apps.meridiancity.org/SUBSCRIPTION_MANAGEMENT/">Subscribe To Us!</a><br />
      <a class="child-link" href="https://meridiancity.org/videos">Videos</a>
    </label>
  </li>
  <li class="col-md-3">
   <a class="parent-link" href="https://meridiancity.org/events"><i class="icon icon-news-and-events"></i>City Events</a>
   <label>
     <a class="child-link" href="https://meridiancity.org/government/calendar">Community Calendar</a>
   </label>
 </li>
 <li class="col-md-3">
   <a class="parent-link" href="https://meridiancity.org/government/want"><i class="icon icon-news-and-events"></i>I Want To...</a>
 </li>
</ul>
</div>
</div>
<!-- PASTE HEADER NAV FROM HERE UP -->
</li>
<li class="nav-search">
  <a href="#">
    <div id="searchlabel" class="max-width-55">Search</div>
    <span class="bottom-line"></span>
  </a>
</li>
</ul>
</div>
</div>
<div class="nav-search-mobile"><a href="#"><span>Search</span></a></div>
<div class="nav-menu-mobile">
  <a href="#"><i class="icon icon-search-close"></i></a>
</div>
<div class="search-popup">	 	
    <div>                                
      <button id="searchsubmit-header" class="button" type="submit" onclick="form.submit();"><i class="icon icon-search-close"></i>
      </button>
      <input type="text" placeholder="What can we help you find?" id="search-header" class="addsearch" style="width: 600px; padding: 0; margin: 0" />
      <script type="text/javascript" src="https://addsearch.com/js/?key=3451d6e85ac7914993acd035bea8f590">
      </script>
    </div>
</div>
</div>
</div>
</div>
</div>

