<div class="menu-header no-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo-wrapper">
          <a href="/" class="logo newpage">
            <img width="162" height="48" src="{{site.baseurl}}/assets/img/logo@2x.png" /></a>
          </div>
          <div class="navigation-wrapper">
            <div class="navigation-content">
              <ul id="top-navigation" class="navigation" role="tablist" aria-multiselectable="true">
                <li class="last-child">
                  <!-- <a href="https://meridianpay.billingdoc.net" target="_blank" class="external"> -->
                  <a href="https://utilitybillingportal.meridiancity.org/truecip" target="_blank" class="external">
                    <div class="max-width-114">Pay Utility Bill</div>
                  </a>
                </li>
                <li>
                  <!-- PASTE HEADER NAV FROM HERE DOWN -->
                  <a data-toggle="collapse" data-parent="#top-navigation" href="#residentsSubmenu" aria-expanded="true" aria-controls="residentsSubmenu">
                    <div class="max-width-80">Residents</div><span class="bottom-line"></span>
                  </a>
                  <div id="residentsSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="residentsSubmenu">
                    <div class="container" style="height: 240px">
                     <ul>
                      <li class="col-md-3">
                       <a class="parent-link" href="/local_government.aspx?id=13166"><i class="icon icon-guide-icon"></i>Guide for Residents</a>
                       <label>
                         <a class="child-link" href="/local_government.aspx?id=359">Air Quality</a><br />
                         <a class="child-link" href="/jobs.aspx">Employment</a><br />
                         <a class="child-link" href="/uploadedFiles/Images/A-Z%20Directory%20Fall%202011.pdf" target="_blank">Government Services Directory</a><br />
                         <a class="child-link" href="city_clerk.aspx?id=11247">Passports</a><br />
                         <a class="child-link" href="/local_government.aspx?id=1499">Senior Services</a><br />
                         <a class="child-link" href="/youth_programs.aspx?id=2503">Youth Services</a>
                       </label>
                     </li>
                     <li class="col-md-3">
                       <a class="parent-link" href="/residents.aspx?id=1533"><i class="icon icon-emergency-icon"></i>Public Safety</a>
                       <label>
                        <a class="child-link" href="/police.aspx?id=13109">Code Enforcement</a><br />
                        <a class="child-link" href="/residents.aspx?id=1531">Emergency Preparedness</a><br />
                        <a class="child-link" href="/fire.aspx">Fire</a><br />
                        <a class="child-link" href="/police.aspx">Police</a><br />
                      </label>
                    </li>
                    <li class="col-md-3">
                     <a class="parent-link" href="/issues_and_priorities.aspx?id=2924"><i class="icon icon-transport-icon"></i>Transportation</a>
                     <label><a class="child-link" href="/Pathways/">Pathways</a><br />
                       <a class="child-link" href="/lights_streets_traffic_transit.aspx?id=2387">Public Transportation</a>
                     </label>
                   </li>
                   <li class="col-md-3">
                     <a class="parent-link" href="/utility_billing.aspx"><i class="icon icon-utility-services-icon"></i>Utility Services</a>
                     <label>
                       <a class="child-link" href="http://site.republicservices.com/site/idaho/en/pages/home.aspx" target="_blank">Trash</a><br />
                       <a class="child-link" href="/utility_billing.aspx">Utility Billing</a>
                     </label>
                   </li>
                 </ul>
                 <div class="clear"></div>
               </div>
             </div>
           </li>
           <li>
             <a data-toggle="collapse" data-parent="#top-navigation" href="#businessSubmenu" aria-expanded="true" aria-controls="businessSubmenu">
              <div class="max-width-72">Business</div><span class="bottom-line"></span>
            </a>
            <div id="businessSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="businessSubmenu">
              <div class="container" style="height: 240px">
               <ul>
                <li class="col-md-3">
                 <a class="parent-link" href="/local_government.aspx?id=13162"><i class="icon icon-overview"></i>Overview</a>
                 <label>
                  <a class="child-link" href="http://www.sterlingcodifiers.com/codebook/index.php?book_id=306" target="_blank">City Code</a><br />
                  <a class="child-link" href="/planning.aspx?id=232">Comprehensive Plan</a><br />
                  <a class="child-link" href="http://www.opportunitymeridian.org/wp-content/uploads/2014/11/Meridian-Quick-Facts-2014.pdf" target="_blank">Demographics</a><br />
                  <a class="child-link" href="http://business.idaho.gov/StartingaBusiness.aspx" target="_blank">Starting a Business</a>
                </label>
              </li>
              <li class="col-md-3">
               <a class="parent-link" href="/community_development.aspx"><i class="icon icon-economic-development"></i>Development</a>
               <label>
                <a class="child-link" href="/building.aspx">Building Services</a><br />
                <a class="child-link" href="/cdbg/">Community Dev. Block Grant</a><br />
                <a class="child-link" href="planning.aspx?id=230">Design Review</a><br />
                <a class="child-link" href="http://www.opportunitymeridian.org/" target="_blank">Economic Development</a><br />
                <a class="child-link" href="/public_works.aspx?id=272">Land Development Services</a><br />
                <a class="child-link" href="/planning.aspx">Planning</a>
              </label>
            </li>
            <li class="col-md-3">
             <a class="parent-link" href="/city_clerk.aspx?id=2630"><i class="icon icon-licenses"></i>Licenses and Permits</a>
             <label></label>
           </li>
           <li class="col-md-3">
             <a class="parent-link" href="/community_development.aspx?id=21367"><i class="icon icon-partner-agencies"></i>Partner Agencies</a>
             <label></label>
           </li>
         </ul>
       </div>
     </div>
   </li>
   <li>
     <a data-toggle="collapse" data-parent="#top-navigation" href="#cityGovernmentSubmenu" aria-expanded="true" aria-controls="cityGovernmentSubmenu">
      <div class="max-width-136">City Government</div><span class="bottom-line"></span>
    </a>
    <div id="cityGovernmentSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="cityGovernmentSubmenu">
      <div class="container" style="height: 250px">
       <ul>
        <li class="col-md-3">
         <a class="parent-link" href="/local_government.aspx?id=22140"><i class="icon icon-city-hall"></i>Government</a>
         <label>
          <a class="child-link" href="/council/index.html">City Council</a><br />
          <a class="child-link" href="/local_government.aspx?id=2518">Commissions and Committees</a><br />
          <a class="child-link" href="http://www.sterlingcodifiers.com/codebook/index.php?book_id=306" target="_blank">City Code</a><br />
          <a class="child-link" href="/jobs.aspx">Employment</a><br />
          <a class="child-link" href="/mayor/index.html">Mayor</a><br />
          <a class="child-link" href="/local_government.aspx?id=13165">Other Government Links</a><br />
          <a class="child-link" href="/Volunteer">Volunteer Opportunities</a>
        </label>
      </li>
      <li class="col-md-3">
       <a class="parent-link" href="/local_government.aspx?id=4139"><i class="icon icon-city-hall"></i>City Hall</a>
       <label>
        <a class="child-link" href="/our_history.aspx?id=21368">City Hall Tours</a><br />
        <a class="child-link" href="http://labrador.house.gov/contact-me" target="_blank">Congressman Raul Labrador</a><br />
        <a class="child-link" href="/history/walkingtour.html">Historic Walking Tour</a><br />
        <a class="child-link" href="/local_government.aspx?id=13082">Initial Point Gallery</a><br />
        <a class="child-link" href="/history/historycenter.html">Meridian History Center</a><br />
        <a class="child-link" href="/parks_rec.aspx?id=3305">Plaza</a><br />
        <a class="child-link" href="/city_clerk.aspx?id=327">Room Reservation</a>
      </label>
    </li>
    <li class="col-md-5">
      <a class="parent-link" href="/city_departments.aspx?id=92"><i class="icon icon-departments"></i>Departments</a>
      <div style="float: left; padding-right: 13px">
        <label>
        <a class="child-link" href="/attorney/index.html">City Attorney</a><br />
          <a class="child-link" href="/city_clerk.aspx">City Clerk</a><br />
          <a class="child-link" href="/community_development.aspx">Community Development</a><br />
          <a class="child-link" href="/finance/index.html">Finance</a><br />
          <a class="child-link" href="/fire.aspx">Fire</a><br />
          <a class="child-link" href="/human_resources.aspx">Human Resources</a><br />
          <a class="child-link" href="/it/index.html">Information Technology</a> 
        </label>
      </div>
      <div style="float: left">
        <label>
          <a class="child-link" href="/mayor/index.html">Mayor’s Office</a><br /> 
          <a class="child-link" href="/parks_rec.aspx">Parks & Recreation</a><br />
          <a class="child-link" href="/police.aspx">Police</a><br />
          <a class="child-link" href="/public_works.aspx">Public Works</a><br />
          <a class="child-link" href="/purchasing.aspx">Purchasing</a><br />
          <a class="child-link" href="/utility_billing.aspx">Utility Billing</a>
        </label>
      </div>
    </li>
  </ul>
</div>
</div>
</li>
<li>
 <a data-toggle="collapse" data-parent="#top-navigation" href="#stayInformedSubmenu" aria-expanded="true" aria-controls="stayInformedSubmenu">
  <div class="max-width-114">Stay Informed</div><span class="bottom-line"></span>
</a>
<div id="stayInformedSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="stayInformedSubmenu">
  <div class="container" style="height: 240px">
   <ul>
    <li class="col-md-3">
      <a class="parent-link" href="https://citizenportal.meridiancity.org/CitizenAccess/" target="_blank"><i class="icon icon-news-and-events"></i>Citizen Access</a>
      <label><a class="child-link" href="https://secure2.meridiancity.org/PRR/" target="_blank">Public Records</a><br />
        <a class="child-link" href="/city_clerk.aspx?id=10211">Public Applications</a>
      </label>
    </li>
    <li class="col-md-3">
     <a class="parent-link" href="/city_news.aspx"><i class="icon icon-designed-for-living"></i>City News and Meetings</a>
     <label>
      <a class="child-link" href="/blogs.aspx">City Blog</a><br />
      <a class="child-link" href="/news_events.aspx?id=314">Newsletters</a><br />
      <a class="child-link" href="/news_events.aspx?id=312">News Releases</a><br />
      <a class="child-link" href="/register.aspx">Subscribe To Us!</a><br />
      <a class="child-link" href="/main_rss_titles.aspx">View RSS Feeds</a><br />
      <a class="child-link" href="/videos.aspx?id=2528">Videos</a>
    </label>
  </li>
  <li class="col-md-3">
   <a class="parent-link" href="/news_events.aspx?id=23126"><i class="icon icon-news-and-events"></i>City Events</a>
   <label>
     <a class="child-link" href="/calendar.aspx">Community Calendar</a>
   </label>
 </li>
 <li class="col-md-3">
   <a class="parent-link" href="/local_government.aspx?id=13158"><i class="icon icon-news-and-events"></i>I Want To...</a>
 </li>
</ul>
</div>
</div>
<!-- PASTE HEADER NAV FROM HERE UP -->
</li>
<li class="nav-search">
  <a href="#">
    <div class="max-width-55">Search</div>
    <span class="bottom-line"></span>
  </a>
</li>
</ul>
</div>
</div>
<div class="nav-search-mobile"><a href="#"><span>Search</span></a></div>
<div class="nav-menu-mobile">
  <a href="#"><i class="icon icon-search-close"></i></a>
</div>
<div class="search-popup">	 	
    <input type="text" placeholder="What can we help you find?" id="search-header" class="addsearch" style="width: 600px; padding: 0; margin: 0" />
    <script type="text/javascript" src="https://addsearch.com/js/?key=3451d6e85ac7914993acd035bea8f590">
    </script>
</div>
</div>
</div>
</div>
</div>
</div>
