<div class="menu-header no-print">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo-wrapper">
          <a href="http://meridiancity.org/" class="logo newpage">
            <img width="162" height="48" src="http://meridiancity.org/mcity-theme/assets/img/logo@2x.png" /></a>
          </div>
          <div class="navigation-wrapper">
            <div class="navigation-content">
              <ul id="top-navigation" class="navigation" role="tablist" aria-multiselectable="true">
                <li class="last-child">
                  <!-- <a href="https://meridianpay.billingdoc.net" target="_blank" class="external"> -->
                  <a href="https://utilitybillingportal.meridiancity.org/truecip" target="_blank" class="external">
                    <div class="max-width-114">Pay Utility Bill</div>
                  </a>
                </li>
                <li>
                  <!-- PASTE HEADER NAV FROM HERE DOWN -->
                  <a data-toggle="collapse" data-parent="#top-navigation" href="#residentsSubmenu" aria-expanded="true" aria-controls="residentsSubmenu">
                    <div class="max-width-80">Residents</div><span class="bottom-line"></span>
                  </a>
                  <div id="residentsSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="residentsSubmenu">
                    <div class="container" style="height: 240px">
                     <ul>
                      <li class="col-md-3">
                       <a class="parent-link" href="http://meridiancity.org/government/guide-for-residents.html"><i class="icon icon-guide-icon"></i>Guide for Residents</a>
                       <label>
                         <a class="child-link" href="http://meridiancity.org/government/air.html">Air Quality</a><br />
                         <a class="child-link" href="http://meridiancity.org/jobs.aspx">Employment</a><br />
                         <a class="child-link" href="/clerk/passports.html">Passports</a><br />
                         <a class="child-link" href="http://meridiancity.org/mayor/msab.html">Senior Services</a><br />
                         <a class="child-link" href="http://meridiancity.org/myac/index.html">Youth Services</a>
                       </label>
                     </li>
                     <li class="col-md-3">
                       <a class="parent-link" href="http://meridiancity.org/government/safety.html"><i class="icon icon-emergency-icon"></i>Public Safety</a>
                       <label>
                        <a class="child-link" href="http://meridiancity.org/police/community-services/code-enforcement.html">Code Enforcement</a><br />
                        <a class="child-link" href="http://meridiancity.org/government/emergency.html">Emergency Preparedness</a><br />
                        <a class="child-link" href="http://meridiancity.org/fire.aspx">Fire</a><br />
                        <a class="child-link" href="http://meridiancity.org/police/index.html">Police</a><br />
                      </label>
                    </li>
                    <li class="col-md-3">
                     <a class="parent-link" href="http://meridiancity.org/planning/transportation/index.html"><i class="icon icon-transport-icon"></i>Transportation</a>
                     <label><a class="child-link" href="http://meridiancity.org/Pathways/">Pathways</a><br />
                       <a class="child-link" href="http://meridiancity.org/planning/transportation/transit.html">Public Transportation</a>
                     </label>
                   </li>
                   <li class="col-md-3">
                     <a class="parent-link" href="http://meridiancity.org/utility-billing/index.html"><i class="icon icon-utility-services-icon"></i>Utility Services</a>
                     <label>
                       <a class="child-link" href="http://site.republicservices.com/site/idaho/en/pages/home.aspx" target="_blank">Trash</a><br />
                       <a class="child-link" href="http://meridiancity.org/utility-billing/index.html">Utility Billing</a><br/>
                       <a class="child-link" href="http://meridiancity.org/public_works.aspx">Water/Sewer</a>
                     </label>
                   </li>
                 </ul>
                 <div class="clear"></div>
               </div>
             </div>
           </li>
           <li>
             <a data-toggle="collapse" data-parent="#top-navigation" href="#businessSubmenu" aria-expanded="true" aria-controls="businessSubmenu">
              <div class="max-width-72">Business</div><span class="bottom-line"></span>
            </a>
            <div id="businessSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="businessSubmenu">
              <div class="container" style="height: 240px">
               <ul>
                <li class="col-md-3">
                 <a class="parent-link" href="http://meridiancity.org/economic-development/index.html"><i class="icon icon-overview"></i>Overview</a>
                 <label>
                  <a class="child-link" href="http://www.sterlingcodifiers.com/codebook/index.php?book_id=306" target="_blank">City Code</a><br />
                  <a class="child-link" href="http://meridiancity.org/planning/long-range/compplan.html">Comprehensive Plan</a><br />
                  <a class="child-link" href="http://business.idaho.gov/StartingaBusiness.aspx" target="_blank">Starting a Business</a>
                </label>
              </li>
              <li class="col-md-3">
               <a class="parent-link" href="http://meridiancity.org/community-development/index.html"><i class="icon icon-economic-development"></i>Development</a>
               <label>
                <a class="child-link" href="http://meridiancity.org/building.aspx">Building</a><br />
                <a class="child-link" href="http://meridiancity.org/cdbg/index.html">Grants</a><br />
                <a class="child-link" href="http://meridiancity.org/planning/current/architectural-standards.html">Design Review</a><br />
                <a class="child-link" href="http://meridiancity.org/economic-development/index.html">Economic Development</a><br />
                <a class="child-link" href="http://meridiancity.org/land/index.html">Land</a><br />
                <a class="child-link" href="http://meridiancity.org/planning/index.html">Planning</a>
              </label>
            </li>
            <li class="col-md-3">
             <a class="parent-link" href="/clerk/temporary-use.html"><i class="icon icon-licenses"></i>Licenses and Permits</a>
             <label></label>
           </li>
           <li class="col-md-3">
             <a class="parent-link" href="http://meridiancity.org/community_development.aspx?id=21367"><i class="icon icon-partner-agencies"></i>Partner Agencies</a>
             <label></label>
           </li>
         </ul>
       </div>
     </div>
   </li>
   <li>
     <a data-toggle="collapse" data-parent="#top-navigation" href="#cityGovernmentSubmenu" aria-expanded="true" aria-controls="cityGovernmentSubmenu">
      <div class="max-width-136">City Government</div><span class="bottom-line"></span>
    </a>
    <div id="cityGovernmentSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="cityGovernmentSubmenu">
      <div class="container" style="height: 250px">
       <ul>
        <li class="col-md-3">
         <a class="parent-link" href="http://meridiancity.org/government/index.html"><i class="icon icon-city-hall"></i>Government</a>
         <label>
          <a class="child-link" href="http://meridiancity.org/council/index.html">City Council</a><br />
          <a class="child-link" href="http://meridiancity.org/government/commissions.html">Commissions and Committees</a><br />
          <a class="child-link" href="http://www.sterlingcodifiers.com/codebook/index.php?book_id=306" target="_blank">City Code</a><br />
          <a class="child-link" href="http://meridiancity.org/jobs.aspx">Employment</a><br />
          <a class="child-link" href="http://meridiancity.org/mayor/index.html">Mayor</a><br />
          <a class="child-link" href="http://meridiancity.org/local_government.aspx?id=13165">Other Government Links</a><br />
          <a class="child-link" href="http://meridiancity.org/Volunteer">Volunteer Opportunities</a>
        </label>
      </li>
      <li class="col-md-3">
       <a class="parent-link" href="http://meridiancity.org/government/cityhall.html"><i class="icon icon-city-hall"></i>City Hall</a>
       <label>
        <a class="child-link" href="http://meridiancity.org/history/cityhalltour.html">City Hall Tours</a><br />
        <a class="child-link" href="http://labrador.house.gov/contact-me" target="_blank">Congressman Raul Labrador</a><br />
        <a class="child-link" href="http://meridiancity.org/history/walkingtour.html">Historic Walking Tour</a><br />
        <a class="child-link" href="http://meridiancity.org/mac/macmenu/initial-point.html">Initial Point Gallery</a><br />
        <a class="child-link" href="http://meridiancity.org/history/historycenter.html">Meridian History Center</a><br />
        <a class="child-link" href="http://meridiancity.org/parks_rec.aspx?id=3305">Plaza</a><br />
        <a class="child-link" href="http://meridiancity.org/clerk/room-reservations.html">Room Reservation</a>
      </label>
    </li>
    <li class="col-md-5">
      <a class="parent-link" href="http://meridiancity.org/government/departments.html"><i class="icon icon-departments"></i>Departments</a>
      <div style="float: left; padding-right: 13px">
        <label>
        <a class="child-link" href="http://meridiancity.org/attorney/index.html">City Attorney</a><br />
          <a class="child-link" href="http://meridiancity.org/clerk/index.html">City Clerk</a><br />
          <a class="child-link" href="http://meridiancity.org/community-development/index.html">Community Development</a><br />
          <a class="child-link" href="http://meridiancity.org/finance/index.html">Finance</a><br />
          <a class="child-link" href="http://meridiancity.org/fire.aspx">Fire</a><br />
          <a class="child-link" href="http://meridiancity.org/hr/index.html">Human Resources</a><br />
          <a class="child-link" href="http://meridiancity.org/it/index.html">Information Technology</a> 
        </label>
      </div>
      <div style="float: left">
        <label>
          <a class="child-link" href="http://meridiancity.org/mayor/index.html">Mayor’s Office</a><br /> 
          <a class="child-link" href="http://meridiancity.org/parks_rec.aspx">Parks & Recreation</a><br />
          <a class="child-link" href="http://meridiancity.org/police/index.html">Police</a><br />
          <a class="child-link" href="http://meridiancity.org/public_works.aspx">Public Works</a><br />
          <a class="child-link" href="http://meridiancity.org/finance/purchasing/index.html">Purchasing</a><br />
          <a class="child-link" href="http://meridiancity.org/utility-billing/index.html">Utility Billing</a>
        </label>
      </div>
    </li>
  </ul>
</div>
</div>
</li>
<li>
 <a data-toggle="collapse" data-parent="#top-navigation" href="#stayInformedSubmenu" aria-expanded="true" aria-controls="stayInformedSubmenu">
  <div class="max-width-114">Stay Informed</div><span class="bottom-line"></span>
</a>
<div id="stayInformedSubmenu" class="panel-collapse collapse submenu" role="tabpanel" aria-labelledby="stayInformedSubmenu">
  <div class="container" style="height: 240px">
   <ul>
    <li class="col-md-3">
      <a class="parent-link" href="https://citizenportal.meridiancity.org/CitizenAccess/" target="_blank"><i class="icon icon-news-and-events"></i>Citizen Access</a>
      <label><a class="child-link" href="https://secure2.meridiancity.org/PRR/" target="_blank">Public Records</a><br />
        <a class="child-link" href="http://meridiancity.org/clerk/land-use.html">Public Applications</a><br/>
        <a class="child-link" href="http://meridiancity.org/mayor/annualreport.html">Annual Report</a>
      </label>
    </li>
    <li class="col-md-3">
     <a class="parent-link" href="http://meridiancity.org/news.html"><i class="icon icon-designed-for-living"></i>City News and Meetings</a>
     <label>
      <a class="child-link" href="http://meridiancity.org/mayor/mayorsoffice/blog.html">City Blog</a><br />
      <a class="child-link" href="http://meridiancity.org/newsletters.html">Newsletters</a><br />
      <a class="child-link" href="http://meridiancity.org/news-releases.html">News Releases</a><br />
      <a class="child-link" href="http://apps.meridiancity.org/SUBSCRIPTION_MANAGEMENT/">Subscribe To Us!</a><br />
      <a class="child-link" href="http://meridiancity.org/videos.html">Videos</a>
    </label>
  </li>
  <li class="col-md-3">
   <a class="parent-link" href="http://meridiancity.org/events.html"><i class="icon icon-news-and-events"></i>City Events</a>
   <label>
     <a class="child-link" href="http://meridiancity.org/government/calendar.html">Community Calendar</a>
   </label>
 </li>
 <li class="col-md-3">
   <a class="parent-link" href="http://meridiancity.org/government/want.html"><i class="icon icon-news-and-events"></i>I Want To...</a>
 </li>
</ul>
</div>
</div>
<!-- PASTE HEADER NAV FROM HERE UP -->
</li>
<li class="nav-search">
  <a href="#">
    <div id="searchlabel" class="max-width-55">Search</div>
    <span class="bottom-line"></span>
  </a>
</li>
</ul>
</div>
</div>
<div class="nav-search-mobile"><a href="#"><span>Search</span></a></div>
<div class="nav-menu-mobile">
  <a href="#"><i class="icon icon-search-close"></i></a>
</div>
<div class="search-popup">	 	
    <div>                                
      <button id="searchsubmit-header" class="button" type="submit" onclick="form.submit();"><i class="icon icon-search-close"></i>
      </button>
      <input type="text" placeholder="What can we help you find?" id="search-header" class="addsearch" style="width: 600px; padding: 0; margin: 0" />
      <script type="text/javascript" src="https://addsearch.com/js/?key=3451d6e85ac7914993acd035bea8f590">
      </script>
    </div>
</div>
</div>
</div>
</div>
</div>

