.card-header {
	padding: 8px;
	border-left: 10px solid #004b8d;
	background-color: #eaf9fe;
	font-size: 15px;
}

.card-header .inner-page #content p {
	color: #fff;
	font-size: 15px;
}

.card-body {
	padding: 8px;
	border-left: 10px solid #eeb211;
	font-size: 15px;
	line-height: 1.2;
}

.card {
	max-width: 100%;
}

/*.fa-angle-down:before {
	content:"\f107";
}

.fa-angle-left:before {
	content:"\f104";
}

.fa-angle-right:before {
	content:"\f105";
}

.fa-angle-up:before { 
	content:"\f106";
}

.fa-rotate-180 {
	-ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}*/ 
