@charset "UTF-8";

@font-face {
  font-family: "meridian-icons";
  src:url("../fonts/meridian-icons.eot");
  src:url("../fonts/meridian-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/meridian-icons.woff") format("woff"),
    url("../fonts/meridian-icons.ttf") format("truetype"),
    url("../fonts/meridian-icons.svg#meridian-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "meridian-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before,
.glyphicon  {
  font-family: "meridian-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-facebook:before {
  content: "a";
}
.icon-twitter:before {
  content: "b";
}
.icon-linkedin:before {
  content: "c";
}
.icon-youtube-play:before {
  content: "d";
}
.icon-nextdoor:before {
  content: "e";
}
.icon-designed-for-living:before {
  content: "g";
}
.icon-news-and-events:before {
  content: "h";
}
.icon-emergency-icon:before {
  content: "i";
}
.icon-fire-icon:before {
  content: "j";
}
.icon-guide-icon:before {
  content: "k";
}
.icon-info-icon:before {
  content: "l";
}
.icon-park-icon:before {
  content: "m";
}
.icon-police-icon:before {
  content: "n";
}
.icon-social-services-icon:before {
  content: "o";
}
.icon-transport-icon:before {
  content: "p";
}
.icon-utility-services-icon:before {
  content: "q";
}
.icon-city-hall:before {
  content: "r";
}
.icon-departments:before {
  content: "s";
}
.icon-get-involved:before {
  content: "t";
}
.icon-other-links:before {
  content: "u";
}
.icon-public-works:before {
  content: "v";
}
.icon-economic-development:before {
  content: "w";
}
.icon-licenses:before {
  content: "x";
}
.icon-overview:before {
  content: "y";
}
.icon-partner-agencies:before {
  content: "z";
}
.icon-search-close:before {
  content: "A";
}
.icon-search-icon:before {
  content: "B";
}
.icon-city-news-popup:before {
  content: "C";
}
.icon-events-popup:before {
  content: "D";
}
.icon-parks-popup:before {
  content: "E";
}
.icon-footer-logo:before {
  content: "f";
}
.icon-arrow-down:before {
  content: "G";
}
.icon-arrow-right:before {
  content: "H";
}
.icon-arrow-right:before,
.glyphicon-chevron-right:before {
  content: "H";
}

.icon-arrow-up:before {
  content: "I";
}
.icon-pin-map:before {
  content: "J";
}
.icon-telephone:before {
  content: "K";
}
.icon-back-to-top:before {
  content: "L";
}
.icon-home:before {
  content: "M";
}
.icon-breadcrumbs-arrow:before {
  content: "N";
}
.icon-water-tower:before {
  content: "F";
}
.icon-top-requests:before {
  content: "O";
}
.icon-zoom-icon:before {
  content: "P";
}
.icon-google-plus:before {
  content: "Q";
}
.icon-pinterest:before {
  content: "R";
}
.icon-mail:before {
  content: "S";
}
.icon-tumblr:before {
  content: "T";
}
.icon-skype:before {
  content: "U";
}
.icon-foursquare:before {
  content: "V";
}
.icon-dribbble:before {
  content: "W";
}
.icon-behance:before {
  content: "X";
}
.icon-social-reddit:before {
  content: "Y";
}
.icon-square-dot:before {
  content: "Z";
}
.icon-plus:before {
  content: "0";
}
.icon-pdf:before {
  content: "2";
}
.icon-arrow-left:before {
  content: "1";
}
.glyphicon-chevron-left:before {
  content: "1";
}
