--- 
layout: default 
title: Meet Mayor Tammy 
---
<div id="content" data-sticky_parent>

    <div class="container boxed sidebar-wrapper">
        <!-- jquery load content DISABLED -->
        <div class="row">
            <!-- left sidebar section -->
            <div id="sidebar" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 sidebar">    
                <section class="sidebar-nav">
                    <h2 class="toggle-title" data-toggle="collapse" href="#sidebar-nav-1" aria-expanded="false" aria-controls="sidebar-nav-1">Mayor's Office</h2>
                    <ul id="sidebar-nav-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="sidebar-nav-1">

                        <li>
                            <a data-toggle="collapse" aria-expanded="true" href="#465" aria-controls="465" class="expanded">Mayor's Office</a>
                            <div class="panel-collapse collapse submenu" role="tabpanel" id="465" aria-labelledby="465">
                                <ul class="show">
                                    <li><a href="/mayortammy/">Meet Mayor Tammy</a></li>
                                    <li><a href="/mayors_office.aspx?id=185">Mayor's Staff</a></li>
                                    <li><a href="/mayors_office.aspx?id=2406">Contact the Mayor</a></li>
                                    <li><a href="/mayors_office.aspx?id=7850">Internships</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" aria-expanded="true" href="#550" aria-controls="550" class="expanded">Priority Issues</a>
                            <div class="panel-collapse collapse submenu" role="tabpanel" id="550" aria-labelledby="550">
                                <ul class="show">
                                    <li><a href="/issues_and_priorities.aspx?id=22509">Strategic Growth</a></li>
                                    <li><a href="/issues_and_priorities.aspx?id=22510">Economic Vibrancy</a></li>
                                    <li><a href="/issues_and_priorities.aspx?id=2925">Responsive Government</a></li>
                                    <li><a href="/issues_and_priorities.aspx?id=22513">Safe, Healthy and Secure</a></li>
                                    <li><a href="/issues_and_priorities.aspx?id=22514">Arts, Culture and Recreation</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" aria-expanded="true" href="#466" aria-controls="466" class="expanded">Organizations</a>
                            <div class="panel-collapse collapse submenu" role="tabpanel" id="466" aria-labelledby="466">
                                <ul class="show">
                                    <li><a href="/meridian_faith_ambassadors.aspx?id=205">Faith Ambassador Council</a></li>
                                    <li><a href="/madc/">Meridian Anti-Drug Coalition</a></li>
                                    <li><a href="/organizations_and_initiatives.aspx?id=2944">Ways to Engage</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" aria-expanded="true" href="#467" aria-controls="467" class="expanded">Youth Programs</a>
                            <div class="panel-collapse collapse submenu" role="tabpanel" id="467" aria-labelledby="467">
                                <ul class="show">
                                    <li><a href="/bookclub/">Mayor &amp; CEO's Kids Book Club</a></li>
                                    <li><a href="/mayors_office.aspx?id=22493">Mayor Tammy's Walking Club</a></li>
                                    <li><a href="/myac/">Mayor's Youth Advisory Council</a></li>
                                    <li><a href="/scholarships.aspx?id=203">Scholarship Opportunities</a></li>
                                    <li><a href="/youthfarmersmarket/">Youth Farmers Market</a></li>
                                    <li><a href="/yoc/">Youth on Commissions</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a data-toggle="collapse" aria-expanded="true" href="#938" aria-controls="938">Special Events</a>
                            <div class="panel-collapse collapse submenu" role="tabpanel" id="938" aria-labelledby="938">
                                <ul>
                                    <li><a href="/mayors_office.aspx?id=23116">Ball at the Hall</a></li>
                                    <li><a href="/mayors_office.aspx?id=23122">Coffee With The Mayor</a></li>
                                    <li><a href="/dotheright/">Do The Right Day</a></li>
                                    <li><a href="/ignite/">Ignite Youth</a></li>
                                    <li><a href="/meridianstars/">Meridian Stars</a></li>
                                    <li><a href="/townhalls/">Town Halls</a></li>
                                    <li><a href="/trunkortreat/">Trunk or Treat</a></li>
                                    <li><a href="/youthfarmersmarket/">Youth Farmers Market</a></li>
                                </ul>
                            </div>
                        </li>
                        <li href="/sotc/"><a href="/sotc/">State of the City Addresses</a></li>
                        <li href="http://www.meridiancity.org/forms.aspx?id=4010"><a target="_new" href="http://www.meridiancity.org/forms.aspx?id=4010">Comment Card</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <div class="container boxed">
        <div class="row">
            <!-- start right content section -->
            <div class="col-sm-offset-4" style="padding: 0px 16px 0px 16px">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" style="width: 102%;">
                    <div class="page-header">
                        <h2 style="margin-top: -70px;">{{ page.title}}</h2>
                    </div>
                </div>
                <div class="col-sm-offset-0 col-lg-8 col-md-8 col-sm-8 col-xs-12" style="width: 102%;">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            <section class="text-section">
                                {{content}}
                            </section>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <section class="text-section">
                                <h2 class="background background-blue-01" style="color: rgb(255, 255, 255);">Mayor Tammy<span style="color: rgb(237, 177, 31);"></span></h2>
                                <h2 class="background background-blue-02 background-with-icon"><i class="icon icon-pin-map"></i><label>Address</label>&#160;</h2>
                                <p class="background background-gray padding-20">
                                    33 E. Broadway Ave.      Meridian, ID 83642 <br /><br />
                                </p>
                                <h2 class="background background-blue-02 background-with-icon"><i class="icon icon-telephone"></i><label>Contact</label></h2>
                                <p class="background background-gray padding-20">
                                    Phone: <b>208-489-0529</b><br />
                                    Fax: <b>208-884-8119</b><br /><br />
                                </p>
                                <h2 align="center" class="background background-blue-02 background-with-icon"><label>Mayor Tammy wants to hear from you!</label></h2>
                                <p align="center" class="background background-gray padding-20"><b><a title="Provide Comments/ Feedback" href="http://www.meridiancity.org/forms.aspx?id=4010">Provide Comments/ Feedback</a></b></p>
                                <p align="center" class="background background-gray padding-20"><a title="Ask Mayor Tammy a Question" href="http://www.meridiancity.org/forms.aspx?ekfrm=22471"><b>Ask Mayor Tammy a Question</b></a></p>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>